@{
    ViewBag.Title = WebResources.Home;
}

<div class="jumbotron">
    <h1>@WebResources.WelcomeMessage</h1>
    <p class="lead">@WebResources.GetStartedMessage</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@WebResources.ViewYourBranches</h2>
        <p>@WebResources.BranchesMessage</p>
        <p><a class="btn btn-default" href="/Branch">@WebResources.Branches &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>@WebResources.ViewYourServices</h2>
        <p>@WebResources.BankServicesMessage</p>
        <p><a class="btn btn-default" href="/BankService">@WebResources.BankServices &raquo;</a></p>
    </div>
</div>