@model BankConfigurationPortal.Web.ViewModels.CounterDetailsViewModel

@{
    bool isRtl = ViewBag.Language == BankConfigurationPortal.Web.Constants.Languages.ARABIC;
}

<link rel="stylesheet" href="~/Content/chosen.css" />

@section Scripts {
    @Scripts.Render("~/bundles/chosen")

    <script>
    $(document).ready(function () {
        $("#servicesMultiSelect").chosen({ width: "100%" });
    });

    $("#servicesMultiSelect").on("change", function (event, params) {
        if (params.selected) {
            console.log("selected: " + params.selected);
            $.ajax({
                type: "POST",
                url: "/CounterService/AddService?branchId=" + @ViewBag.BranchId + "&counterId=" + @ViewBag.CounterId + "&bankServiceId=" + params.selected,
                error: function (error) {
                    console.log(error);
                }
            });
        }
        else {
            console.log("deselected: " + params.deselected);
            $.ajax({
                type: "POST",
                url: "/CounterService/RemoveService?branchId=" + @ViewBag.BranchId + "&counterId=" + @ViewBag.CounterId + "&bankServiceId=" + params.deselected,
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
    </script>
}

<h2>@WebResources.Details</h2>

<div>
    <h4>@WebResources.Counter</h4>
    <hr />
    <p>
        <b>@Html.DisplayNameFor(model => model.BranchId):</b>
        @Html.DisplayFor(model => model.BranchId)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.NameEn):</b>
        @Html.DisplayFor(model => model.NameEn)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.NameAr):</b>
        @Html.DisplayFor(model => model.NameAr)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.Active)</b>
        @Html.DisplayFor(model => model.Active)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.Type):</b>
        @Html.DisplayFor(model => model.Type)
    </p>
</div>
<div>
    <hr />
    <p><b>@WebResources.AllocateServices:</b></p>
    <select multiple id="servicesMultiSelect" class="@(isRtl ? "chosen-rtl" : "")" data-placeholder="@(WebResources.ChooseServices)...">
        @foreach (var service in Model.Services) {
            string serviceName = isRtl ? service.Service.NameAr : service.Service.NameEn;
            if (service.IsAvailableOnCounter) {
                <option selected value="@service.Service.BankServiceId">@serviceName</option>
            }
            else {
                <option value="@service.Service.BankServiceId">@serviceName</option>
            }
        }
    </select>
</div>
<p>
    <br />
    @Html.ActionLink(WebResources.Edit, "Edit", new { branchId = Model.BranchId, counterId = Model.CounterId }) |
    @Html.ActionLink(WebResources.BackToList, "Index", new { branchId = Model.BranchId })
</p>
