@model BankConfigurationPortal.Data.Models.Branch

@{
    ViewBag.Title = WebResources.Delete;
}

<h2>@WebResources.Delete</h2>

<h3>@WebResources.ConfirmDeleteMessage</h3>
<div>
    <h4>@WebResources.Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@WebResources.Delete class="btn btn-default" /> |
            @Html.ActionLink(WebResources.BackToList, "Index")
        </div>
    }
</div>
