@model BankConfigurationPortal.Web.Models.BankService

@{
    ViewBag.Title = WebResources.Details;
}

<h2>@WebResources.Details</h2>

<div>
    <h4>@WebResources.BankService</h4>
    <hr />
    <p>
        <b>@Html.DisplayNameFor(model => model.NameEn):</b>
        @Html.DisplayFor(model => model.NameEn)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.NameAr):</b>
        @Html.DisplayFor(model => model.NameAr)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.Active)</b>
        @Html.DisplayFor(model => model.Active)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.MaxDailyTickets):</b>
        @Html.DisplayFor(model => model.MaxDailyTickets)
    </p>
</div>
<p>
    @Html.ActionLink(WebResources.Edit, "Edit", new { bankServiceId = Model.BankServiceId }) |
    @Html.ActionLink(WebResources.BackToList, "Index")
</p>
