@model BankConfigurationPortal.Data.Models.BankService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDailyTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDailyTickets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankServiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
